body{
    background-color: grey;
}

/**{*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    transform: all 0.5s;*/
/*}*/

:root {
    --menuButtonColor: #ffffff;
    --menuButtonBackgroundColor: #3498db;
    --menuButtonBorde: 2px #ffffff solid;
    --menuButtonFontSize: 1em;
    --menuButtonWidth: 100px;
    --menuButtonHeight: 50px;
    --menuButtonFont: Open Sans Condensed;
    --menuButtonTextDecroration: none;
    --menuTransitionSpeed: all 0.5s;
    --menuMargin: 10px 0 0 5px;
}

h1 {
    color: var(--menuButtonBackgroundColor);
    font-family: var(--menuButtonFontSize);
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 40px;
}

h1:hover {
    font-size: 2.5em;
}

h1:hover:before,
h1:hover:after {
    font-style: italic;
    font-size: 0.5em;
}

        /*Main Menu Buttons*/

#startgame {
    position: absolute;
    top: 20%;
    left: 40%;
    width: var(--menuButtonWidth);
    height: var(--menuButtonHeight);
    color: var(--menuButtonColor);
    background-color: var(--menuButtonBackgroundColor);
    font-family: var(--menuButtonFont);
    text-decoration: var(--menuButtonTextDecroration);
    font-size: var(--menuButtonFontSize);
    border: var(--menuButtonBorde);
    margin: var(--menuMargin);
    transition: var(--menuTransitionSpeed);
}

#intbutton {
    position: absolute;
    top: 30%;
    left: 40%;
    width: var(--menuButtonWidth);
    height: var(--menuButtonHeight);
    color: var(--menuButtonColor);
    background-color: var(--menuButtonBackgroundColor);
    font-family: var(--menuButtonFont);
    text-decoration: var(--menuButtonTextDecroration);
    font-size: var(--menuButtonFontSize);
    border: var(--menuButtonBorde);
    margin: var(--menuMargin);
    transition: var(--menuTransitionSpeed);
}

#strbutton {
    position: absolute;
    top: 40%;
    left: 40%;
    width: var(--menuButtonWidth);
    height: var(--menuButtonHeight);
    color: var(--menuButtonColor);
    background-color: var(--menuButtonBackgroundColor);
    font-family: var(--menuButtonFont);
    text-decoration: var(--menuButtonTextDecroration);
    font-size: var(--menuButtonFontSize);
    border: var(--menuButtonBorde);
    margin: var(--menuMargin);
    transition: var(--menuTransitionSpeed);
}

#agybutton {
    position: absolute;
    top: 50%;
    left: 40%;
    width: var(--menuButtonWidth);
    height: var(--menuButtonHeight);
    color: var(--menuButtonColor);
    background-color: var(--menuButtonBackgroundColor);
    font-family: var(--menuButtonFont);
    text-decoration: var(--menuButtonTextDecroration);
    font-size: var(--menuButtonFontSize);
    border: var(--menuButtonBorde);
    margin: var(--menuMargin);
    transition: var(--menuTransitionSpeed);
}

button:hover {
    cursor: pointer;
}

.main_menu_button:hover {
    color: #009999;
    border: #009999;
    opacity: 100%;
    -webkit-transform: scale(2, 2);
    -moz-transform: scale(2, 2);
    transform: scale(1.3, 1.3);
}

 /*Main menu buttons end*/

/*Atribute boxes*/

.atributes{
    position: absolute;
    font-family: var(--menuButtonFont);
    font-size: var(--menuButtonFontSize);
    text-decoration: var(--menuButtonTextDecroration);
    color: var(--menuButtonColor);
    border: 25px solid #B88846;
    border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;

}